{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="account-page">
    <div class="account-wrapper">
        <h1>Mon Compte</h1>
        <p>Vous êtes connecté</p>
        <a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>
    </div>
</div>
{% endblock %}
