{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <div class="privacyContainer">
        <h1>Qui sommes-nous ?</h1>

        <h2>Notre Histoire</h2>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Nulla facilisi. Donec vel sapien nec erat cursus lacinia. Integer euismod, augue in fermentum tincidunt, lorem arcu facilisis massa, at tristique elit sem in nunc.
        </p>

        <h2>Nos Valeurs</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>

        <h2>Notre Équipe</h2>
        <p>
            NNeque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
        </p>

        <h2>Nous Contacter</h2>
        <p><a href="#">contact@example.com</a></p>
    </div>
{% endblock %}
