{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
    <div class="privacyContainer">
        <h1>Conditions Générales de Vente</h1>

        <h2>Prix</h2>
        <p>Les prix affichés incluent les taxes. Ils sont fermes au moment de la commande.</p>

        <h2>Commande</h2>
        <p>La commande vaut acceptation de ces conditions. Vous devez accepter les CGV pour valider votre commande.</p>

        <h2>Paiement</h2>
        <p>Les paiements sont sécurisés. Nous acceptons les cartes bancaires et virements.</p>

        <h2>Livraison</h2>
        <p>Les délais de livraison sont informatifs. La responsabilité du produit vous revient à la réception.</p>

        <h2>Droit de Rétractation</h2>
        <p>Vous avez 14 jours pour retourner un produit dans son état d'origine. Les frais de retour sont à votre charge.</p>

        <h2>Contact</h2>
        <p><a href="mailto:contact@example.com">contact@example.com</a></p>
    </div>
{% endblock %}
